* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container_home {
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between ;
    background-color: black;
    padding: 19px 105px;
}

.header .logo_spotify {
    width: 127px;
}

.header .navbar ul {
    display: flex;
}


.header .navbar ul li a {
    color: rgb(255 255 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding: 20px 19px;
}

.header .navbar ul li a:hover {
    color: #1ed760;
}

.header .navbar ul .pipe::before {
    content: "|";
    color: rgb(255 255 255);
    padding: 15px;
}

.header .navbar ul li a.a_style {
    color: #d9dadc;
}


/****** 
CONTENT 
*******/

.content {
    height: 175%;
    background-color: #2941ab;
    background-image: url(https://www-growth.scdn.co/static/home/bursts.svg);
    background-size: 175%;
    background-position: 46% 4%;
    min-height: 846px; 
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #1ed760;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    width: 890px;
    font-size: 152px;
    letter-spacing: -10px;
}

.phrase {
    color: #1ed760;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    margin-bottom: 30px;
}

.button {
    background-color: #1ed760;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: bold;
    padding: 16px 28px;
    border-radius: 22px;
    color: #2941ab;
}